/*Add CSS styles here*/
/*Example 2.9*/
.map {
    border: medium solid #000000;
}

/*Example 2.4*/

.countries {
    fill: #080808;
    stroke: #000000;
    stroke-width: 2px;
}

/*Example 2.7*/
.gratLines {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
}

.gratBackground {
    fill: #080808;
}